eval "$({{ brew_prefix }}/bin/brew shellenv)"
eval "$(starship init zsh)"

# https://docs.brew.sh/Shell-Completion
FPATH="{{ brew_prefix }}/share/zsh/site-functions:${FPATH}"

# The following lines were added by compinstall
zstyle :compinstall filename '{{ shell_zsh_config_dir }}/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
# Lines configured by zsh-newuser-install
HISTFILE=~/.zsh_history
HISTSIZE=1000
SAVEHIST=1000
setopt autocd
# End of lines configured by zsh-newuser-install

for file in {{ shell_zsh_config_dir }}/*.zsh; do
    source "${file}"
done

# Must be the last instructions
source "{{ brew_prefix }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
