[user]
        name = {{ git_user.username }}
        email = {{ git_user.email }}
        signingkey = {{ git_user.signing_key }}
[core]
        editor = nvim
        excludesfile = {{ ansible_env['HOME'] }}/.gitignore_global
[commit]
        gpgsign = True
[init]
        defaultBranch = main
[pull]
        rebase = True
[push]
        autoSetupRemote = true
        default = current
        followTags = True
