[default]
aws_access_key_id = {{ lookup('community.general.onepassword', 'AWS Credentials', field='username', vault=aws_onepassword_vault) }}
aws_secret_access_key = {{ lookup('community.general.onepassword', 'AWS Credentials', field='credential', vault=aws_onepassword_vault) }}
